.button-primary{
    background-color: #57454566 ;
    width: 180px;
    height: 32.40px;
    border: #fff solid 1px;
    color: #fff;
}
.button-secondary{
    @extend .button-primary;

    background-color: rgba(255, 255, 255, 0)
}