.button-primary{
    background-color: var( --color-primary-transparent) ;
    width: 180px;
    height: 40px;
    border: var(--font-color) solid 4px;
    color: var(--font-color);
    border-radius: 8px;
    font-size: var(--font-size-l);
    &:hover{
        color: var(--color-prymary) ;
        background-color: var(--font-color) ;
    }
}
.button-secondary{
    @extend .button-primary;
}