
.link-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 6vh;
  gap: 30px;
  background-color: #e9d5b86a;

}

.link-wrapper {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  gap: 6px;
  text-decoration: none;
  align-items: center;
  padding: 4px;

  &:hover {
    .textos,
    .icon {
      color: rgb(0, 0, 0);
    }
  }

  .icon {
    color:rgb(68, 67, 67);
  }

  .textos {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    color: rgb(88, 88, 88);
    letter-spacing: 1px;

    span {
      font-weight: bold;
    }
  }
  &:hover {
    border-radius: 18px;
    background: linear-gradient(45deg, rgba(131, 203, 175, 0.581), #7a63d724, #ff7eb481 );
  }
}
