@import "../../style/mixins.scss";

.link-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 50px;
  justify-content: space-around;
  
  background-color: var(--color-primary-transparent);transition-duration: 3s;
}

.link-wrapper {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  gap: var(--gap-one);
  text-decoration: none;
  align-items: center;
  padding: var(--padding-one);
  transition-duration: 0.3s;
  &:hover {
    .textos,
    .icon {
      color: var(--color-sextary);
    }
  }

  .icon {
    color: var(--font-color);
    svg{
      max-width: 35px;
      max-height: 35px;
    }
  }

  .textos {
    display: flex;
    flex-direction: column;
    font-size: var(--spacing-s);
    align-items: center;
    color: var(--font-color);
    letter-spacing: 1px;
    
  }
  &:hover {
    border-radius: var(--border-radius-hover);
    background: var(--color-tertiary);
  }
}

@include respond-to(large) {
  .links {
    .textos {
      display: none;
    }
  }
}

@include respond-to(small) {


  .links {
    .icon {
      svg{
      width: 20px;
      height: 20px;
    }}
  }
}
