
.link-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 42px;
  gap: 30px;

  background-color: var(--color-primary-transparent);
 
}

.link-wrapper {
  display: flex;
  align-items: center;
  
  
}

.links {
  display: flex;
  gap: 6px;
  text-decoration: none;
  align-items: center;
  padding: 4px;
  

  &:hover {
    .textos,
    .icon {
      color: rgb(0, 0, 0);
    }
  }

  .icon {
    color: var(--font-color) ;
  }

  .textos {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    color: var(--font-color);
    letter-spacing: 1px;

    span {
      font-weight: bold;
    }
  }
  &:hover {
    border-radius: 18px;
    background: var( --linear-gradient);
  }
}
