
@import 'root.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;


background-color: var(--background-color);

}

.Principal{

  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% ;
        height: 100%;
        margin: auto;
      
        

      
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% ;
    height: 100vh;
}

