

:root{


    

    

    --spacing-xl: 150px;
    --spacing-lg: 100px;
    --spacing-md: 50px;
    --spacing-sm: 25px;
    --spacing-s: 16px;
    --spacing-xs: 10px;
    --spacing-xxs: 5px; 
  
    --font-size-xxxxl: 35px;
    --font-size-xxxl: 30px;
    --font-size-xxl: 26px;
    --font-size-xl: 24px;
    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xs: 13px;
 
    
    --red: red;

   


    --background-color:#933937;
    --font-color: white;
  --color-prymary: #914644;
    --color-primary-transparent: #91474495;
  --color-secundary: #F71511;
  --color-tertiary: #6A5EF7;
  --color-quaternary:#798B7E;
  --color-quinary: #f3f3f3;
  --color-sextary: #000000;
  --color-septenary: #16161680;
  --color-octave: #eaeaea;

  --linear-gradient: linear-gradient(45deg, #77a7ad, #933837ba, #77a7ad );



  }