.button-primary{
    background-color: #57454566 ;
    width: 180px;
    height: 32.40px;
    border: #fff solid 1px;
    transform:translate(-50%,0);
    color: #fff;
}
.button-secondary{
    color: black;
}